<div class="c-menu">
  <div class="c-menu__content">
    <img src="{{ config.image_src }}logo.png" class="c-menu__logo" alt="Company Logo" title="Company Logo" />

    <div class="c-menu__items">
      <a class="c-menu__item">Home</a>
      <a class="c-menu__item">About</a>
      <a class="c-menu__item">Service</a>
      <a class="c-menu__item">Contact</a>
    </div>

    <div class="c-menu__search">
      <input class="c-menu__search-input" value="" placeholder="Search..." />
      <input class="c-menu__search-button" type="button" />
    </div>
  </div>
</div>

<div class="s-webdoor">
  <div class="s-webdoor__container">
    <div class="s-webdoor__text">
      <h1>First I wanted to be<br/>a veterinarian</h1>
      <p>Lorem Ipsum available but the majority have<br/>suffered alteration in some form, by injected<br/>humour randomised words.</p>
    </div>
    <div class="s-webdoor__img">
      <img src="{{ config.image_src }}dog.png" alt="Dog" title="Dog">
    </div>
  </div>
</div>